@charset "ISO-8859-1";

h1{
text-align: center;
}

.header{
display: flex;
justify-content:space-between;	
flex-direction: row;
background-color:rgb(121, 92, 96);	
box-shadow:5px 6px 6px black;

}
.fonctionnalites{
display: flex;	
flex-direction:row;
	
}

.vente{	
border: 2px solid black;
padding:5px 5px 5px 5px;
border-radius:15px;
box-shadow:5px 6px 6px black;
margin-right:10px;


}

.inscription{	
border: 2px solid black;	
padding:5px 5px 5px 5px;	 
border-radius:15px;
box-shadow:5px 6px 6px black;
margin-right:10px;

}

.profil{
border: 2px solid black;		
padding:5px 5px 5px 5px;
border-radius:15px;
box-shadow:5px 6px 6px black;
margin-right:10px;

}

.co{
border: 2px solid black;	
padding:5px 5px 5px 5px;
border-radius:15px;
box-shadow:5px 6px 6px black;
margin-right:10px;

}
.deco{
border: 2px solid black;	
padding:5px 5px 5px 5px;
border-radius:15px;
box-shadow:5px 6px 6px black;
margin-right:10px;	

}
