@charset "ISO-8859-1";
body{
	
	
background-color: blue;

}

form{
display: flex;
justify-content: center;		
	
}

.colonneG{	
margin-right:20px;
}


.colonneD{
		
		
}


h1{
	
text-align: center;	
	
}

.button{	
display: flex;
justify-content: center;	
	
}

.creer{	

	
}

.annuler{
	
	
}

.message{
	
color:red;	
background-color:red;	
	
}